<head>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:type" content="article">
        <meta property="og:description" content="{{ page.content | strip_html | truncatewords:50}}"/>
    {% else %}
        <meta property="og:title" content="{{ site.title }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
        <meta property="article:author" content="{{ site.url }}/about/">
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% if page.tags %}
        <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
        {% for tag in page.tags %}
            <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% endif %}
        <!-- facebook Open Graph Metadatas -->
    <meta content="your_facebook_app_id" property="fb:app_id">
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
    <meta content="/assets/img/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="/img/logo-high-resolution.png" property="og:image">
    {% endif %}
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">    
    {% include google-analytics.html %}
</head>