<ul id="slide-out" class="side-nav fixed grey lighten-4">
    <li>
        <div class="user-view">
            <a href="#!user"><img class="circle" src="../assets/img/profile.jpg"></a>
            <a href="#!name"><span class="black-text name">Kristofferson Carillo</span></a>
            <a href="#!email"><span class="email">peiwebdev@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">home</i>Home</a></li>
    <li><a href="#!"><i class="material-icons">message</i>Ping me!</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Menu</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Recent Posts<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">First</a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Recent Projects<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">First</a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><a href="#!">Journal</a></li>
    <li><a href="#!">Projects</a></li>
    <li><a href="#!">About</a></li>
</ul>