<ul class="nav">
        <li class="nav-item">
          <a target="popup" class="pl-0  nav-link-sm" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&p[title]={{page.title}}"><button type="button" class="btn btn-sm btn-outline-primary">Facebook</button></a>
        </li>
        <li class="nav-item">
          <a target="popup" class="nav-link-sm" href="http://twitter.com/share?text={{page.title}}&url={{site.url}}{{page.url}}&via={{@peisop}}&related={{@peisop}}"><button type="button" class="btn  btn-sm btn-outline-info">Twitter</button></a>
        </li>
        <li class="nav-item">
          <a target="popup" class="nav-link-sm" href="https://plus.google.com/share?url={{site.url}}{{page.url}}"><button type="button" class="btn btn-sm btn-outline-danger">Google+</button></a>
        </li>
        <li class="nav-item">
          <a target="popup" class="nav-link-sm" href="http://www.reddit.com/submit?url={{site.url}}{{page.url}}&title={{page.title}}"><button type="button" class="btn btn-sm btn-outline-secondary">Reddit</button></a>
        </li>
      </ul>