 <ul id="slide-out" class="side-nav fixed z-depth-0">
    <li><div class="user-view center-align">
      <div class="background">
      </div>
      <a href="{{site.url}}"><img class="responsive-img
       " title="Home" src="{{site.img_path}}/{{site.profile}}"></a>
      <a href="/about.html" title="Home"><span class="black-text name thin" style="font-size: 18px;">{{site.author}}</span></a> 
      <a href="mailto:{{site.email}}" title="Send me a message!"><span class="black-text email thin">{{site.email}}</span></a>
      <span class="name thin">{{site.description}}</span>
    </div></li>
  </ul>
  <div style="margin-top: 30px;" class="container hide-on-large-only">
    <div class="row" style="margin-bottom: 0;">
      <div class="col s12">
         <a href="#" data-activates="slide-out" class="button-collapse black-text "><i class="material-icons">menu</i></a>
      </div>
    </div>
  </div>