header,
main,
footer {
    padding-left: 190px;
}

@media only screen and (max-width: 1230px) {
    header,
    main {
        padding-left: 250px;
    }
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer{
        padding-left: 0;
    }
}

nav.top-nav {
    height: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

nav.top-nav a.page-title {
    line-height: 60px;
}

@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 64px;
        line-height: 64px;
    }
}