.post-widget {
    margin: 0 16px 16px 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;

    .thumbnail {
        float: left;
        width: 120px;
        height: 65px;
        overflow: hidden;
        
        img {
            width: 100%;
        }
    }

    .title {
        font-size: 15px;
        padding-left: 8px;
        height: 65px;
        overflow: hidden;
    }
}

.post-list {
    box-sizing: border-box;
    padding: 8px;
    background-color: #fff;
    overflow: hidden;
}

