.nav-link-sm {
    display: block;
    padding: 0.5rem .3rem;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 8px;
    background-color: #fff;
}