---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include sidebar.html %}
        <main>
            <div class="container">
                <div class="row">
                    <div class="col s12 l9">
                        {{content}}
                    </div>
                    <div class="col s12 l3">
                        {% include small-sidebar.html %}
                    </div>
                </div>
            </div>
        </main>
    </body>
    <div>
        {% include plugins/livereload.html %}
        {% include scripts.html %}
    </html>