<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include navbar.html %}
        <div class="container-fluid" style="margin-top: 10px;">
            <div class="row">
                <div class="col-md-2">
                    {% include profile.html %}
                </div>
                <div class="col-md-6">
                    <div class="post-list">
                        {{content}}
                    </div>
                </div>
                <div class="col-md-2">
                    
                </div>
            </div>
        </div>
    </body>
    <script src="./assets/js/jquery-3.2.1.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
</html>