---
layout: default
comments: true
---
<div class="card z-depth-0 m-32">
    <div style="margin-top: 0" class="card-title">
        <a href="{{page.url}}" class="black-text"><b>{{page.title}}</b></a>
    </div>
    <small>{{page.date | date_to_string}}</small>
</div>
<div class="card-content">
    {{page.content}}        
</div>
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url ="{{site.url}}/{{page.url}}"; 
this.page.identifier = "{{page.url}}";
};

(function() { 
var d = document, s = d.createElement('script');
s.src = 'https://peicap.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>