<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
   <section>
        <div class="container">
            <div class="row">
                <div class="eight columns">
                        <h3><b>(☞ﾟ∀ﾟ)☞ <a href="{{page.url}}">{{page.title}}</a></b></h3>
                    <p>{{page.content}}</p>
                    <div class="PageNavigation">
                            {% if page.next.url %}
                            <h4 class="fade">Read the next article:</h4>  
                            <h5><a  href="{{page.next.url}}">{{page.next.title}} &raquo;</a></h5>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% include plugins/livereload.html %}
</html>